body{
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}

header{
    width: 100%;
    margin: auto;
}

#title{
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 2rem;
}

#calculator{
    position: relative;
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    margin: auto;
    max-width: min-content;
    overflow: hidden;
}

#display{
    width: 100%;
    padding: 10px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap : 10px;
    padding: 25px;

}


button{
    width: 90px;
    height: 90px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;

}

@media only screen and (max-width: 412px){

    header{
        width: auto;
    }
    
    button {
        width: 55px;
        height: 55px;
        font-size: 1.5rem;
    }

    #display{
        font-size: 2.5rem;
    }
    

}

button:hover{
    background-color: hsl(0, 0%, 40%);
}

button:active{
    background-color: hsl(0, 0%, 50%);
}

.operator-btn{
    background-color: hsl(35, 100%, 55%);

}

.operator-btn:hover{
    background-color: hsl(35, 100%, 65%);
}

.operator-btn:active{
    background-color: hsl(35, 100%, 75%);
}